<header class="jumbotron masthead" id="overview">
  <div class="inner">
    <div class="container">
      <h1>Find the best contractors for your home and garden project! </h1>
      <p class="lead">
        Our specialized rating sytem ensures that you choose the contractors that fit your needs best. 
      </p>
    </div>
  </div>
</header>

<br/><br/><br/><br/>

<div class="container">
  <div class="row">
    <div class="span5">
      <%= image_tag("welcome.png") %>
    </div>
    <div class="span1">
      &nbsp
    </div>
    <div class="span8" style="background:#FFFFFF;">
      <div class="row">
        <div class="span8">
          <br/>
          <p class="lead">
            On our site you can make informed decisions by using reviews and ratings created by home owners. All businesses are rated along the following six dimensions:
          </p>
          <div class="row">
            <div class="span3">
              <ul>
                <li><strong>Speed:</strong></li>
                <li><strong>Quality:</strong>  </li>
                <li><strong>Usability:</strong> </li>
              </ul>
            </div>
            <div class="span3">
              <ul>
                <li><strong>Affordability:</strong> </li>
                <li><strong>Warranty:</strong> </li>
                <li><strong>Kindliness:</strong> </li>
              </ul>
            </div>
          </div>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <%= button_to "Get Started", new_user_registration_path,:class => "btn medium primary", :method => :get, :rel => "twipsy", :"data-original-title" => "Sign Up" %>
        </div>
        <div class="span4">
          <%= button_to "Learn More", tour_path,:class => "btn medium primary", :method => :get, :rel => "twipsy", :"data-original-title" => "Take a tour" %>
        </div>
      </div>
    </div>
  </div>
</div>

<br/><br/><br/><br/>

 




