<div class="container">
		<br/><br/><br/><br/>
    <h1>About Squawk'em</h1>
    <p>
      We think a generic reviews site doesn't do justice to the care needed to select contractors that will work on your home. We also think that you shouldn't have pay for reviews other home owners share freely. So we created Squawk'em.com to help you  and us find the best contractors for any project.
    </p>
    <p>
     	If you think we can better serve you in any way please contact us!
    </p>
		<br/><br/><br/><br/>
</div>