<div class="container">
    <br/><br/><br/><br/>
    <h1>A big thanks...</h1>

    <p>
			...to Yukihiro “matz” Matsumoto and all contributors to Ruby for a natural programming language.  
    </p>

    <p>
			...to 37 Signals , DHH and all contributors to Rails for a wonderful web application framework.  
    </p>

    <p>
			...to http://pc.de/icons/ for the Dusseldorf icon set used throughout the site.
    </p>
    <br/><br/><br/><br/>
</div>
