<div class="container">
    <br/><br/><br/><br/>
    <h1>A big thanks...</h1>

    <p>
			...to Yukihiro “matz” Matsumoto and all contributors to Ruby for a natural programming language.  
    </p>

    <p>
			...to 37 Signals , DHH and all contributors to Rails for a wonderful web application framework.  
    </p>

    <p>
            ...to git & github teams for a beautiful, safe home for our code.  
    </p>

    <p>
            ...to Heroku for hosting this site.  
    </p>

    <p>
            ...to jQuery team for making it simple to add funk to this site.  
    </p>

    <p>
            ...to Twitter for sharing their CSS framework Bootstrap.  
    </p>

    <p>
            ...to many Rails plugin developers that make this site possible.  
    </p>

    <br/><br/>
    <h4>    
        I'm no artist so I used images and photos that were created and shared freely. Here are the credits:
    </h4>

    <ul>
        <li>
            Dusseldorf icon set used throughout the site: <a href="http://pc.de/icons/">PC.DE</a> 
        </li>
        
        <li>
          Green Door On Yellow Wall: <a href="http://www.freedigitalphotos.net/images/view_photog.php?photogid=2223">Image: Teeratas / FreeDigitalPhotos.net</a>
        </li>

        <li>
          Three doors: <a href="http://www.freedigitalphotos.net/images/view_photog.php?photogid=659">Image: Salvatore Vuono / FreeDigitalPhotos.net</a>
        </li>

        <li>
          Chinese Red Door: <a href="http://www.freedigitalphotos.net/images/view_photog.php?photogid=659">Image: Salvatore Vuono / FreeDigitalPhotos.net</a>
        </li>
    </ul>

</div>
