<div class="row">
  <div class="span16">
    <h4> Search Businesses: </h4>
  </div>
</div>
<div class="row">
  <div class="span16" style="background:#eeedef;">
    <form action="/searches/new" class="form-stacked">
      <div class="row">
        <div class="span5">
          <label for="search_for">Search for <span>(e.g. landscaping, electrician, tile)</span></label>
          <input class="xlarge" id="search_for" name="search_for" size="30" type="text">
        </div>        
        <div class="span5">  
          <label for="search_near">Near <span>(Address, City, State or Zip)</span></label>
          <input class="xlarge" id="search_near" name="search_near" size="30" type="text">
        </div>          
        <div class="span2" style="vertical-align:middle"> 
          <input class="hidden" id="category_id" name="category_id" size="30" type="hidden" value="">
          <label for="search_button">&nbsp</label>
          <%= submit_tag "Search", :name => "search", :class => "btn medium primary" %>
        </div>          
      </div>
    </form>
  </div>
</div>