
.font_xs {
	font-size: x-small
}

.lead {
  font-size: 20px;
  line-height: 27px;
}

.right-bordered-div {
  border-right: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bordered-div {
  border: 1px solid #ddd;
  padding: 5px;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


/* Jumbotrons from Twitter Bootstrap
-------------------------------------------------- */
.jumbotron {
  min-width: 940px;
}
.jumbotron .inner {
  background: transparent url(../assets/grid-18px.png) top center;
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
/*          box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
*/}
.jumbotron h1,
.jumbotron p {
  margin-bottom: 9px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.jumbotron h1 {
  font-size: 33px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.jumbotron p {
  font-weight: 300;
}
.jumbotron .lead {
  font-size: 20px;
  line-height: 27px;
}
.jumbotron p a {
  color: #fff;
  font-weight: bold;
}

/* Specific jumbotrons
------------------------- */
/* welcome page */
.masthead {
  background-color: #049cd9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  background-image: -webkit-linear-gradient(#004D9F, #049cd9);
  background-image: -moz-linear-gradient(#004D9F, #049cd9);
  background-image: -o-linear-gradient(top, #004D9F, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0); /* IE8 and down */
}


input[type=image], input[type=image]:hover {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.topbar-inner, .topbar .fill {
  background-color: #e9e9e9;
  background-color: #e9e9e9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e9e9e9));
  background-image: -moz-linear-gradient(top, #e0e0e0, #e9e9e9);
  background-image: -ms-linear-gradient(top, #e0e0e0, #e9e9e9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #e0e0e0, #e9e9e9);
  background-image: -o-linear-gradient(top, #e0e0e0, #e9e9e9);
  background-image: linear-gradient(top, #e0e0e0, #e9e9e9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#e0e0e0', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar a {
  color: #0f0f0f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar h3 a, .topbar .brand {
  color: #0f0f0f;
}

.topbar h3 a:hover, .topbar .brand:hover,.topbar .brand a:hover, .topbar ul .active > a {
  color: #049cd9;
  text-decoration: none;
}

.topbar p a:hover {
  color: #049cd9;
}
.topbar div > ul a:hover, .nav a:hover {
  color: #049cd9;
}



.twipsy {
  z-index: 100000;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}


tr.odd td { 
  background: #e6f2ff;
}


.input-tiny,
input.tiny,
textarea.tiny,
select.tiny {
  width: 40px;
}

body {
  font-size: 12px;
  line-height: 15px;
}
p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 4px;
}
p small {
  font-size: 11px;
}
textarea {
  font-size: 12px;
}
label {
  padding-top: 4px;
  font-size: 12px;
  line-height: 15px;
}
table {
  font-size: 12px;
}
table th, table td {
  padding: 5px 5px 4px;
  line-height: 15px;
  text-align: center;
}

span {
  font-size: 9px;
}

footer {
  background-color: #e9e9e9;
}

.centered {
  text-align: center;
}



