<footer class="footer">
  <div class="container">
    <ul class="nav">
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
  <div class="container"> 
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
      Still being designed and built by Arman @ home
    </p>
  </div>
</footer>
