<footer class="footer">
  <div class="row">
    <div class="span16">
      <div class="row">
        <div class="span14">
          <ul class="nav">
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
        <div class="span2">
          <ul class="nav pull-right">
            <li><a href="#">Back to top</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="centered span16">
    <span>Copyright 2012 Squawkem, Inc. All rights reserved.</span>
   </div>
  </div>
  <div class="row">
   <div class="span16">
    <span>&nbsp</span>
   </div>
  </div>
</footer>
